@tailwind base;
@tailwind components;
@tailwind utilities;
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .input-style {
    @apply w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition;
  }
  
  
